<app-navbar></app-navbar>
<section class="vh-100" style="background-image: url('/assets/images/flightblurbg.webp');">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <form (ngSubmit)="onSubmit()" class="container bg-light p-4 rounded">
              <div class="mb-3">
                <h2 class="mb-4 text-center text-dark">Book Ticket</h2>
                <label for="userName" class="form-label">Passenger Name</label>
                <input type="text" [(ngModel)]="passengerName" class="form-control" id="userName" name="userName">
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" [(ngModel)]="email" class="form-control" id="email" name="email">
              </div>
              <div class="mb-3">
                <label for="phoneNumber" class="form-label">Phone Number</label>
                <input type="tel" [(ngModel)]="phoneNumber" class="form-control" id="phoneNumber" name="phoneNumber">
              </div>
              <div class="mb-3">
                <label for="age" class="form-label">Age</label>
                <input type="number" class="form-control" id="age" name="age" [(ngModel)]="age">
              </div>
              <div class="mb-3">
                <label for="gender" class="form-label">Gender</label>
                <select class="form-control" id="gender" name="gender" [(ngModel)]="gender">
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="cabinClass" class="form-label">Cabin Class</label>
                <select class="form-control" id="cabinClass" name="cabinClass" [(ngModel)]="cabinClass">
                  <option value="Economy">Economy</option>
                  <option value="Business">Business</option>
                  <option value="First">First</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="noOfTicket" class="form-label">Number of Tickets</label>
                <input type="number" class="form-control" id="noOfTicket" name="noOfTicket" [(ngModel)]="noOfTicket">
              </div>
              <button type="submit" class="btn btn-primary">Book Ticket</button>
            </form>
          </div>
        </div>
      </div>

      <div class="container my-5 center bg-light">
        <table *ngIf="row != null" class="table table-striped table-bordered my-5">
          <thead>
            <tr>
              <th>Flight No</th>
              <th>Departure Airport</th>
              <th>Arrival Airport</th>
              <th>Departure Time</th>
              <th>Arrival Time</th>
              <th>Economy Class Price</th>
              <th>Business Class Price</th>
              <th>First Class Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ row.flightNumber }}</td>
              <td>{{ row.departureAirport }}</td>
              <td>{{ row.arrivalAirport }}</td>
              <td>{{ row.departureTime }}</td>
              <td>{{ row.arrivalTime }}</td>
              <td>{{ row.price }}</td>
              <td>{{ row.price + 1500 }}</td>
              <td>{{ row.price + 3000 }}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</section>

<!-- <app-navbar></app-navbar>

<div class="container my-5">
    <table *ngIf="row != null" class="table table-striped table-bordered my-5">
        <thead>
            <tr>
                <th>Flight No</th>
                <th>Departure Airport</th>
                <th>Arrival Airport</th>
                <th>Departure Time</th>
                <th>Arrival Time</th>
                <th>Economy Class Price</th>
                <th>Business Class Price</th>
                <th>First Class Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{row.flightNumber}}</td>
                <td>{{row.departureAirport}}</td>
                <td>{{row.arrivalAirport}}</td>
                <td>{{row.departureTime}}</td>
                <td>{{row.arrivalTime}}</td>
                <td>{{row.price}}</td>
                <td>{{row.price+1500}}</td>
                <td>{{row.price+3000}}</td>
            </tr>
        </tbody>
      </table>
</div>


<div class="my-5 container formContainer">
    <h2 class="mb-4 text-center text-dark">Book Ticket</h2>
    <form (ngSubmit)="onSubmit()" class="container">
        <div class="mb-3">
            <label for="userName" class="form-label">Passenger Name</label>
            <input type="text" [(ngModel)]="userName" class="form-control" id="userName" name="userName">
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <input type="text" class="form-control" id="age" name="age" [(ngModel)]="age">
        </div>
        <div class="mb-3">
            <label for="gender" class="form-label">Gender</label>
            <select class="form-control" id="gender" name="gender" [(ngModel)]="gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="ticketType" class="form-label">Ticket Type</label>
            <select class="form-control" id="ticketType" name="ticketType" [(ngModel)]="ticketType">
                <option value="Economy">Economy</option>
                <option value="Business">Business</option>
                <option value="Business">First</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Book Ticket</button>
    </form>
</div> -->