<h2>{{ id ? 'Update' : 'Add' }} Flight</h2>

<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="flightNumber">Flight Number</label>
    <input type="text" class="form-control" id="flightNumber" [(ngModel)]="flight.flightNumber" name="flightNumber" required>
  </div>

  <div class="form-group">
    <label for="departureAirport">Departure Airport</label>
    <input type="text" class="form-control" id="departureAirport" [(ngModel)]="flight.departureAirport" name="departureAirport" required>
  </div>

  <div class="form-group">
    <label for="arrivalAirport">Arrival Airport</label>
    <input type="text" class="form-control" id="arrivalAirport" [(ngModel)]="flight.arrivalAirport" name="arrivalAirport" required>
  </div>

  <div class="form-group">
    <label for="departureTime">Departure Time</label>
    <input type="datetime-local" class="form-control" id="departureTime" [(ngModel)]="flight.departureTime" name="departureTime" required>
  </div>

  <div class="form-group">
    <label for="arrivalTime">Arrival Time</label>
    <input type="datetime-local" class="form-control" id="arrivalTime" [(ngModel)]="flight.arrivalTime" name="arrivalTime" required>
  </div>

  <div class="form-group">
    <label for="price">Price</label>
    <input type="number" class="form-control" id="price" [(ngModel)]="flight.price" name="price" required>
  </div>

  <div class="form-group">
    <label for="cabinClasses">Cabin Classes</label>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Number of Seats</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cabin of flight.cabinClasses; let i = index">
          <td><input type="text" class="form-control" [(ngModel)]="cabin.name" name="cabinName"></td>
          <td><input type="number" class="form-control" [(ngModel)]="cabin.numberOfSeats" name="numberOfSeats"></td>
          <td>
            <button type="button" class="btn btn-danger" (click)="deleteCabin(cabin.name)">Delete</button>
          </td>
        </tr>
        <tr>
          <td><input type="text" class="form-control" #cabinName placeholder="Cabin Name"></td>
          <td><input type="number" class="form-control" #numberOfSeats placeholder="Number of Seats"></td>
          <td>
            <button type="button" class="btn btn-success" (click)="addCabin(cabinName.value, +numberOfSeats.value)">Add</button>
        </td>
        </tr>
      </tbody>
    </table>
  </div>

  <button type="submit" class="btn btn-primary">{{ id ? 'Update' : 'Add' }} Flight</button>
  <button type="button" class="btn btn-danger" *ngIf="id" (click)="deleteFlight()">Delete Flight</button>
</form>
